<div id="deptUserBox" class="addGroupBox clearfix">
    <div class="addGroupLt">
        <p><%=Lang.userManager.allUser%></p>
        <div class="addGSearch">
            <input type="text" class="addGInput" placeholder="<%= Lang.userManager.searchTips%>" value=""><a href="javascript:;" id="boxBtn-search"><i class="i-search2"></i></a>
        </div>
        <div class="addGList">
            <div class="orgTreeScroll" style="overflow:auto; height:330px;">
                <div class="deptUser-list ztree ">
                    <ul id="deptUser-list">
                        <li>
                            <div class="deptLoad" style="padding-left: 10px; padding-top: 10px"><%=Lang.common.loading %>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="search-list" style="display:none">
                    <div class="search-result"><%=Lang.userManager.searchResult%>:</div>
                    <ul class="select-tx-ul-search"></ul>
                    <a href="javascript:;" class="btn-search-more"><%=Lang.userManager.loadMore%></a>
                </div>
            </div>
        </div>
    </div>
    <div class="addGroupMd"><i class="i-arrRight"></i></div>
    <div class="addGroupRt">
        <p><a href="javascript:;" class="fr" id="clear"><%=Lang.userManager.clearAll%></a><%=Lang.userManager.user%></p>
        <div class="addGListRs">
            <ul></ul>
        </div>
    </div>
</div>