<script type="text/x-handlebars-template" id="head-tpl">
    <div class="userOpera">
        <% if(global.user.role!='root'){ %><a href="/drive"><%=Lang.head.backToUser%></a>|<%}%><a href="javascript:;" id="userInfo"><%=obj.name||obj.userId %></a>|<a href="<%=logoutUrl%>"><i class="i-quit mr_5"></i><%=Lang.head.exit%></a>
    </div>
    <div class="logo">
        <div class="i-logo">
            <div class="i-logoImg">
                <img src="<%-logoUrl%>" alt=""> <span class="logoTxt"><b><%=Lang.head.companyDisk%></b>|<em><%=Lang.head.managerCenter%></em></span>
            </div>
        </div>
    </div>
    <div id="company-select" class="fake_slt areaChange" <%= obj.corpList.length<=1 ? ' style="display:none"' : '' %> >
    <div>
        <span class="fake_slt_txt" style="height: 26px; width: 160px;" title="<%=obj.name%>"><%=obj.corpName%></span><a href="javascript:;" class="fake_slt_a"><i class="i-bdown"></i></a>
    </div>
    <ul style="max-height:120px;width:99%" class="fake_slt_menu popList" id="company-ul">

        <% for (var i = 0; i < obj.corpList.length; i++) { %>
        <li>
            <a title="<%=obj.corpList[i].name%>" href="javascript:;" data-corpid="<%=obj.corpList[i].corpId%>"><%=obj.corpList[i].name%></a>
        </li>
        <% } %>

    </ul>
    </div>
</script>


<script type="text/x-handlebars-template" id="userInfo-tpl">
    <div class="detailCon detailCon2">

        <h3 class="detTit">用户信息</h3>
        <ul class="userInfo">
            <li>
                <div class="subTitle"><%=Lang.userManager.userName%>：</div>
                <div class="subCon"><%-userData.userId%></div>
            </li>
            <%if(userData.name){%>
            <li>
                <div class="subTitle"><%=Lang.userManager.name%>：</div>
                <div class="subCon"><%-userData.name%></div>
            </li>
            <%}%>
            <%if(userData.email){%>
            <li>
                <div class="subTitle"><%=Lang.userManager.email%>：</div>
                <div class="subCon"><%-userData.email%></div>
            </li>
            <%}%>
            <%if(userData.mobile){%>
            <li>
                <div class="subTitle"><%=Lang.userManager.mobile%>：</div>
                <div class="subCon"><%-userData.mobile%></div>
            </li>
            <%}%>
        </ul>
        <h3 class="detTit">企业信息</h3>
        <ul>
            <li>
                <div class="subTitle"><%=Lang.setting.companyName%>：</div>
                <div class="subCon"><%=corpData.name%></div>
            </li>
            <li>
                <div class="subTitle"><%=Lang.setting.domain%>：</div>
                <div class="subCon"><%=corpData.domain%></div>
            </li>
            <li>
                <div class="subTitle"><%=Lang.setting.timeout%>：</div>
                <div class="subCon"><%=corpData.outDate%></div>
            </li>
            <li>
                <div class="subTitle"><%=Lang.setting.space%>：</div>
                <div class="subCon"><%=corpData.storage%></div>
            </li>
            <li>
                <div class="subTitle"><%=Lang.setting.userLimit%>：</div>
                <div class="subCon"><%=corpData.userLimit%></div>
            </li>
            <li>
                <div class="subTitle"><%=Lang.setting.status%>：</div>
                <div class="subCon"><%=corpData.status%></div>
            </li>
        </ul>
    </div>
</script>


<script type="text/x-handlebars-template" id="licence">

    <div class="VersionBox clearfix">
        <h3>基本信息</h3>
        <div class="VersPart">
            <ul>
                <li>
                    <span class="VsliLp">许可证ID：</span>
                    <div class="VsliRp"><%- licInfo.licId %></div>
                </li>
                <li>
                    <span class="VsliLp">授权客户：</span>
                    <div class="VsliRp"><%- licInfo.corpName %></div>
                </li>
                <li>
                    <span class="VsliLp">授权域名：</span>
                    <div class="VsliRp"><%- licInfo.domain %></div>
                </li>
                <li>
                    <span class="VsliLp">产品类型：</span>
                    <div class="VsliRp">RichDrive</div>
                </li>
                <li>
                    <span class="VsliLp">许可类型：</span>
                    <div class="VsliRp"><%- licInfo.licType=='1'?'正式版':'试用版' %></div>
                </li>
                <li>
                    <span class="VsliLp">用户数：</span>
                    <div class="VsliRp"><%- licInfo.maxUser %>（个）</div>
                </li>
                <li>
                    <span class="VsliLp">过期时间： </span>
                    <div class="VsliRp">
                        <%- licInfo.expireTime %>
                    </div>
                </li>
            </ul>
        </div>

        <h3>产品信息</h3>
        <div class="VersPart">
            <ul>
                <li>
                    <span class="VsliLp">版本号：</span>
                    <div class="VsliRp"><%- version %></div>
                </li>
                <li>
                    <span class="VsliLp">产品：</span>
                    <div class="VsliRp">
                        <input type="checkbox" checked disabled id="richDrive"> <label for="richDrive">RichDrive</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="more" <%- _.isEmpty(vasInfo)?'':'checked' %> disabled> <label for="more">增值服务</label>
                        <% if(!_.isEmpty(vasInfo)){ %>[ <% } %>
                        <%- vasInfoArr.join('，') %>
                        <% if(!_.isEmpty(vasInfo)){ %>] <% } %>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</script>