<script type="text/x-handlebars-template" id="log">

    <div class="log-head">
        <table width="100%">
            <tr>
                <td class="td-label"><label><%-Lang.log.time%>：</label></td>
                <td>
                    <div class="control-timeSet" style="margin-left:0">
                        <input readonly type="text" class="timeSetInput sTime" value=""><em>-</em><input readonly type="text" class="timeSetInput eTime" value="">
                    </div>
                </td>
                <td class="td-label"><label for="opUser"><%-Lang.log.opUser%>：</label></td>
                <td><input class="inputAdd" type="text" value="" id="opUser"></td>
                <td class="td-label"><label for="group"><%-Lang.log.group%>：</label></td>
                <td><input class="inputAdd" type="text" value="" id="group"></td>
                <td rowspan="3" valign="bottom">
                    <a href="javascript:;" class="btn_blue2 btn28 btn-ok"><%-Lang.common.ok%></a></td>
            </tr>
            <tr>
                <td height="10"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="td-label"><label for="opType"><%-Lang.log.opType%>：</label></td>
                <td><select class="real-select" id="opType">
                    <option value="0"><%-Lang.log.all%></option>
                    <option value="data"><%-Lang.log.data%></option>
                    <option value="user"><%-Lang.log.user%></option>
                    <option value="team"><%-Lang.log.team%></option>
                    <option value="grant"><%-Lang.log.grant%></option>
                </select></td>
                <td class="td-label"><label for="action"><%-Lang.log.action%>：</label></td>
                <td><select class="real-select" id="action">
                    <option value="0"><%-Lang.log.all%></option>
                </select></td>
                <td class="td-label"><label for="type"><%-Lang.log.type%>：</label></td>
                <td><select class="real-select" id="type">
                    <option value="0"><%-Lang.log.all%></option>
                    <option value="1"><%-Lang.log.web%></option>
                    <option value="2"><%-Lang.log.pc%></option>
                    <option value="3"><%-Lang.log.mobile%></option>
                </select></td>
            </tr>
        </table>
    </div>
    <div id="logList">
        <div class="tableBox">
            <table width="100%" class="tableList">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="pageBox clearfix"></div>

</script>

<script type="text/x-handlebars-template" id="log-title">
    <tr>
        <th width="25" scope="col">&nbsp;</th>
        <th width="18%" scope="col"><%-Lang.log.time%></th>
        <th width="24%" scope="col"><%-Lang.log.action%></th>
        <th width="15%" scope="col"><%-Lang.log.result%></th>
        <th width="15%" scope="col"><%-Lang.log.opUser%></th>
        <th width="15%" scope="col">IP</th>
        <th scope="col"><%-Lang.log.type%></th>
    </tr>
</script>

<script type="text/x-handlebars-template" id="log-row">
    <tr>
        <td>&nbsp;</td>
        <td><span class="tf"><%=createDate%></span></td>
        <td><span class="tf" title="<%=operate%>"><%=operate%></span></td>
        <td><span class="tf" title="<%=result%>"><%=result%></span></td>
        <td><span class="tf" title="<%-userName%>"><%=userId%></span></td>
        <td><%=ip%></td>
        <td><%-comeFrom%></td>
    </tr>
</script>
