<div class="sideMenu">
    <ul>
        <li class="<%=(moduleName=='setting'?'act':'')%>">
            <a id="setting-link" href="./setting.do"><i class="i-sbico1"></i><span><%=Lang.sideBar.diskSetting%></span></a>
        </li>
        <li class="<%=(moduleName=='usermanager'?'act':'')%>">
            <a id="user-manager-link" href="./usermanager.do"><i class="i-sbico2"></i><span><%=Lang.sideBar.userManager%></span></a>
        </li>
        <li class="<%=(moduleName=='log'?'act':'')%>">
            <a id="log-link" href="./log.do"><i class="i-sbico3"></i><span><%=Lang.sideBar.logManager%></span></a>
        </li>
        <li class="<%=(moduleName=='statistic'?'act':'')%>">
            <a id="statistic-link" href="./statistic.do"><i class="i-sbico4"></i><span><%=Lang.sideBar.statisticManager%></span></a>
        </li>
    </ul>
</div>