<!--主框架-->
<script type="text/x-handlebars-template" id="main-box">
    <div class="mainTopBar clearfix">
        <div class="secMenu">
            <ul>
                <li><a href="javascript:;" class="act" data-module="file"><%- Lang.statistic.file %></a></li>
                <li><a href="javascript:;" data-module="space"><%- Lang.statistic.space %></a></li>
            </ul>
        </div>
    </div>
    <div class="container"></div>
</script>

<!--文件统计-->
<script type="text/x-handlebars-template" id="file">
    <div class="statistics">
        <div class="staSpace">
            <div class="staTop"><b><%- Lang.statistic.fileSize %></b><span class="col_grey"><%- Lang.statistic.fileSizeCount %><em class="sum-size"></em></span></div>
            <div class="staSpaceBox" id="size"></div>
        </div>
        <div class="spaceUse">
            <div class="staTop"><b><%- Lang.statistic.fileCountS %></b><span class="col_grey"><%- Lang.statistic.fileCountNumber %><em class="sum-count"></em></span></div>
            <div class="spaceUseBox" id="count"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="statistics">
        <div class="staTop"><b><%- Lang.statistic.fileOp %></b></div>
        <div class="opereBar clearfix">
            <span class="tabAbox"><a href="javascript:;" class="act" data-day="1"><%- Lang.statistic.today %></a><a href="javascript:;" data-day="7"><%- Lang.statistic.week %></a><a href="javascript:;" data-day="30"><%- Lang.statistic.month %></a><a href="javascript:;" data-day="365"><%- Lang.statistic.year %></a></span>
            <div class="control-timeSet">
                <input type="text" class="timeSetInput sTime" value=""><em>-</em><input type="text" class="timeSetInput eTime" value="">
            </div>
            <a href="javascript:;" class="btn_blue2 btn28 btn-ok"><%- Lang.common.ok %></a>
        </div>
        <div class="spaceUseBox" id="op"></div>
    </div>
</script>

<!--空间统计-->
<script type="text/x-handlebars-template" id="space">

    <div class="statistics">
        <div class="staSpace">
            <div class="staTop"><b><%- Lang.statistic.space %></b><span class="col_grey"><%- Lang.statistic.allSpace %><em class="size-all"></em></span></div>
            <div class="staSpaceBox" id="space1"></div>
        </div>
        <div class="spaceUse">
            <div class="staTop"><b><%- Lang.statistic.spaceUse %></b></div>
            <div class="opereBar clearfix">
                <span class="tabAbox"><a href="javascript:;" class="act" data-day="1"><%- Lang.statistic.today %></a><a href="javascript:;" data-day="7"><%- Lang.statistic.week %></a><a href="javascript:;" data-day="30"><%- Lang.statistic.month %></a><a href="javascript:;" data-day="365"><%- Lang.statistic.year %></a></span>
                <div class="control-timeSet">
                    <input type="text" class="timeSetInput sTime" value=""><em>-</em><input type="text" class="timeSetInput eTime" value="">
                </div>
                <a href="javascript:;" class="btn_blue2 btn28 btn-ok"><%- Lang.common.ok %></a>
            </div>
            <div class="spaceUseBox" id="space2"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="set_tab clearfix space_tab">
        <span class="ml_25 set_tab_c on" data-type="team"><a href="javascript:;"><%- Lang.statistic.team %></a></span>
        <span class="set_tab_c" data-type="person"><a href="javascript:;"><%- Lang.statistic.person %></a></span>
        <span class="set_tab_c" data-type="group"><a href="javascript:;"><%- Lang.statistic.group %></a></span>
    </div>
    <div class="operaBar clearfix">
        <div class="fr">
            <a class="btn28 btn_blue1 btn-export" href="javascript:;"><em><%- Lang.statistic.export2 %></em></a>
        </div>
                        <span class="name">
                        	<em><%- Lang.statistic.libName %></em> <input type="text" placeholder="<%- Lang.statistic.searchByLibName %>" value="" class="inputAdd">
                        </span> <a href="javascript:;" class="btn_blue2 btn28 btn-search"><%- Lang.common.ok %></a>
        <span class="groupInfo"><%- Lang.statistic.allSpace2 %> <em class="teamCoop-all">0</em>，<%- Lang.statistic.usedSpace %> <em class="teamCoop-used">0</em></span>
    </div>
    <div class="clearfix">
        <div class="tableBox">
            <table width="100%" class="tableList">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="pageBox clearfix"></div>
</script>

<script type="text/x-handlebars-template" id="team-title">
    <tr>
        <th width="25" scope="col">&nbsp;</th>
        <th width="30%" scope="col"><%- Lang.statistic.libName %></th>
        <th width="23%" scope="col"><%- Lang.statistic.assignSpace %></th>
        <th width="23%" scope="col">
            <a href="javascript:;" class="sortLink" data-orderflag="1" data-sort="0"><%- Lang.statistic.usedSpace %><i class="i-arr ml_5"></i></a>
        </th>
        <th width="20%" scope="col">
            <a href="javascript:;" class="sortLink" data-orderflag="2" data-sort="0"><%- Lang.statistic.restSpace %><i class="i-arr ml_5"></i></a>
        </th>
        <!--<th width="15%" scope="col">-->
        <!--<a href="javascript:;" class="sortLink" data-orderflag="3" data-sort="0">成员数<i class="i-arr ml_5"></i></a>-->
        <!--</th>-->
    </tr>
</script>

<script type="text/x-handlebars-template" id="team-row">
    <tr>
        <td>&nbsp;</td>
        <td><span class="tf"><%=groupName%></span></td>
        <td><span class="tf"><%=storage%></span></td>
        <td><span class="tf"><%=usedStorage%></span></td>
        <td><%=unUsedStorage%></td>
        <!--<td><%=memberNum%></td>-->
    </tr>
</script>


<script type="text/x-handlebars-template" id="group-title">
    <tr>
        <th width="25" scope="col">&nbsp;</th>
        <th width="40%" scope="col"><%- Lang.statistic.groupName %></th>
        <th width="50%" scope="col">
            <a href="javascript:;" class="sortLink" data-orderflag="1" data-sort="0"><%- Lang.statistic.usedSpace %><i class="i-arr ml_5"></i></a>
        </th>
    </tr>
</script>

<script type="text/x-handlebars-template" id="group-row">
    <tr>
        <td>&nbsp;</td>
        <td><span class="tf"><%=groupName%></span></td>
        <td><span class="tf"><%=usedStorage%></span></td>
    </tr>
</script>


<script type="text/x-handlebars-template" id="person-title">
    <tr>
        <th width="25" scope="col">&nbsp;</th>
        <th width="30%" scope="col"><%- Lang.userManager.userName %></th>
        <th width="20%" scope="col"><%- Lang.statistic.assignSpace %></th>
        <th width="25%" scope="col">
            <a href="javascript:;" class="sortLink" data-orderflag="1" data-sort="0"><%- Lang.statistic.usedSpace %><i class="i-arr ml_5"></i></a>
        </th>
        <th width="25%" scope="col">
            <a href="javascript:;" class="sortLink" data-orderflag="2" data-sort="0"><%- Lang.statistic.restSpace %><i class="i-arr ml_5"></i></a>
        </th>
    </tr>
</script>

<script type="text/x-handlebars-template" id="person-row">
    <tr>
        <td>&nbsp;</td>
        <td><span class="tf"><%=name%></span></td>
        <td><span class="tf"><%=storage%></span></td>
        <td><span class="tf"><%=usedStorage%></span></td>
        <td><%=unUsedStorage%></td>
    </tr>
</script>
