/* CSS Document */

/*图标样式*/
.i-quit, .i-bdown, .i-sbico1, .i-sbico2, .i-sbico3, .i-sbico4, .i-search, .i-plus, .i-tree-open, .i-tree-close, .i-arrDown, .i-null, .i-group, .i-delet, .i-edit, .i-addUser, .i-batchImp, .i-warm, .popbox-cls, .i-tips, .i-tips_qa, .i-downG, .i-downW, .i-UpG, .i-succesM, .i-arrRight, .i-search2, .i-deletB, .i-arrUp, .i-page-first, .i-page-prev, .i-page-next, .i-page-last, .i-page-reload,.i-arrDown2 {
    background-image: url(../images/spirte_netdisc.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.i-quit {
    width: 14px;
    height: 16px;
    background-position: -67px -113px;
}

a:hover .i-quit {
    background-position: -67px -131px;
}

.i-bdown {
    width: 9px;
    height: 5px;
    background-position: -16px -80px;
}

.areaChange .i-bdown {
    width: 11px;
    height: 6px;
    background-position: 0 -105px;
}

.areaChange a:hover .i-bdown {
    background-position: 0 -110px;
}

.areaChange.open .i-bdown, .areaChange.open a:hover .i-bdown {
    background-position: 0 -118px;
}

.i-sbico1 {
    width: 32px;
    height: 33px;
    background-position: 0 0;
}

.i-sbico2 {
    width: 30px;
    height: 33px;
    background-position: -35px 0;
}

.i-sbico3 {
    width: 26px;
    height: 34px;
    background-position: -68px 0;
}

.i-sbico4 {
    width: 30px;
    height: 31px;
    background-position: -97px 0;
}

.act .i-sbico1, a:hover .i-sbico1 {
    background-position: 0 -38px;
}

.act .i-sbico2, a:hover .i-sbico2 {
    background-position: -35px -38px;
}

.act .i-sbico3, a:hover .i-sbico3 {
    background-position: -68px -37px;
}

.act .i-sbico4, a:hover .i-sbico4 {
    background-position: -97px -38px;
}

.i-search {
    width: 15px;
    height: 14px;
    background-position: -29px -80px;
}

.i-plus {
    width: 12px;
    height: 12px;
    background-position: -83px -80px;
}

.i-arrDown {
    width: 7px;
    height: 4px;
    background-position: -16px -87px;
}

.i-arrUp {
    width: 7px;
    height: 4px;
    background-position: -16px -108px;
}

.i-tree-open {
    width: 4px;
    height: 7px;
    background-position: -16px -93px;
}

.i-tree-close {
    width: 7px;
    height: 4px;
    background-position: -16px -102px;
}

.i-null {
    display: inline-block;
    width: 7px;
    margin-right: 6px;
}

.i-tree-open, .i-tree-close {
    margin-right: 6px;
}

.i-group {
    width: 16px;
    height: 13px;
    background-position: -83px -129px;
}

.i-delet {
    width: 14px;
    height: 14px;
    background-position: -83px -145px;
}

.i-edit {
    width: 14px;
    height: 14px;
    background-position: -83px -162px;
}

.i-batchImp {
    width: 15px;
    height: 14px;
    background-position: -83px -112px;
}

.i-addUser {
    width: 17px;
    height: 14px;
    background-position: -83px -95px;
}

.i-warm {
    width: 13px;
    height: 13px;
    background-position: -108px -80px;
}

.popbox-cls {
    width: 12px;
    height: 11px;
    background-position: 0 -80px;
}

.i-tips {
    width: 50px;
    height: 50px;
    background-position: -550px 0;
}

.i-tips_qa {
    width: 50px;
    height: 50px;
    background-position: -550px -52px;
}

.i-downG {
    width: 15px;
    height: 13px;
    background-position: -83px -178px;
}

.i-downW {
    width: 15px;
    height: 13px;
    background-position: -83px -210px;
}

.i-UpG {
    width: 15px;
    height: 13px;
    background-position: -83px -194px;
}

.i-succesM {
    width: 25px;
    height: 25px;
    background-position: -108px -96px;
}

.i-arrRight {
    width: 18px;
    height: 21px;
    background-position: -108px -124px;
}

.i-search2 {
    width: 12px;
    height: 12px;
    background-position: -29px -94px;
}

.i-deletB {
    width: 10px;
    height: 10px;
    background-position: 0 -125px;
}

.i-page-first {
    width: 7px;
    height: 9px;
    background-position: -16px -166px;
}

.i-page-prev {
    width: 7px;
    height: 9px;
    background-position: -16px -178px;
}

.i-page-next {
    width: 7px;
    height: 9px;
    background-position: -23px -166px;
}

.i-page-last{
    width: 7px;
    height: 9px;
    background-position: -25px -166px;
}

.i-page-first-disabled {
    width: 7px;
    height: 9px;
    background-position: -16px -119px;
}

.i-page-prev-disabled {
    width: 7px;
    height: 9px;
    background-position: -16px -131px;
}

.i-page-next-disabled {
    width: 7px;
    height: 9px;
    background-position: -23px -119px;
}

.i-page-last-disabled {
    width: 7px;
    height: 9px;
    background-position: -25px -119px;
}


.i-page-reload {
    width: 17px;
    height: 14px;
    background-position: -16px -143px;
}

.i-arrDown2{background-position: -23px -119px;height: 9px;width: 7px;}

/*无数据*/
.i-noDate{ width:400px; height:200px; background:url(../images/ico_noData.gif) no-repeat center bottom; display:inline-block;}