@charset "utf-8";
/* CSS Document */
/*2016-2-3 by:liuyuwan */
html, body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, select, textarea, button, th, td, blockquote, address, var, pre {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, input, textarea, select, button, label {
    font-size: 100%;
}

body {
    color: #666;
    font: 12px/1.5 'Microsoft Yahei', verdana, 'Hiragino Sans GB';
    min-width: 980px;
}

button, select, textarea, input {
    vertical-align: middle;
    color: #333;
    font-family: 'Microsoft Yahei', verdana, 'Hiragino Sans GB';
}

input[type=button], input[type=submit], input[type=reset], input[type=file], button {
    cursor: pointer;
    overflow: visible;
    width: auto
}

button {
    padding: 3px 5px 2px;
}

textarea {
    resize: vertical;
}

/* word-wrap for opera, resize for webkit */
a {
    color: #3b73e7;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

:focus {
    outline: 0;
}

.clear {
    clear: both;
    line-height: 0px;
    overflow: hidden;
    zoom: 1;
    font-size: 0px;
    content: '.';
}

.clearAll {
    clear: both;
    zoom: 1;
}

a img {
    border: none;
}

li.clear {
    float: none;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol {
    list-style: none outside none;
}

img, fieldset {
    border: none;
}

img {
    overflow: hidden;
    vertical-align: top;
}

em, address, var {
    font-style: normal;
}

sup, sub {
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i {
    display: inline-block;
}

/*用于修饰性小图标*/
mark {
    background: #ff0;
}

/* 高亮显示 */

/* Show or Hide */
.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.v-hidden {
    visibility: hidden;
}

.v-visible {
    visibility: visible;
}

/*float*/
.fl {
    float: left;
    display: inline;
}

.fr {
    float: right;
    display: inline;
}

.dik {
    display: inline-block;
}

.vm {
    vertical-align: middle;
    display: inline-block;
}

/* clear float */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

.clearAll {
    overflow: hidden;
    _zoom: 1;
}

.m_clearfix:before, .m_clearfix:after {
    content: "";
    display: table;
}

.m_clearfix:after {
    clear: both;
    overflow: hidden;
}

.m_clearfix {
    zoom: 1; /* IE < 8 */
}

.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

/* Padding or Margin */
.pl_0 {
    padding-left: 0;
}

.pt_0 {
    padding-top: 0;
}

.pr_0 {
    padding-right: 0;
}

.pb_0 {
    padding-bottom: 0;
}

.pl_5 {
    padding-left: 5px;
}

.pt_5 {
    padding-top: 5px;
}

.pr_5 {
    padding-right: 5px;
}

.pb_5 {
    padding-bottom: 5px;
}

.pl_10 {
    padding-left: 10px;
}

.pt_10 {
    padding-top: 10px;
}

.pr_10 {
    padding-right: 10px;
}

.pb_10 {
    padding-bottom: 10;
}

.pl_15 {
    padding-left: 10px;
}

.pt_15 {
    padding-top: 15px;
}

.pr_15 {
    padding-right: 15px;
}

.pb_15 {
    padding-bottom: 15px;
}

.pl_20 {
    padding-left: 20px;
}

.pt_20 {
    padding-top: 20px;
}

.pr_20 {
    padding-right: 20px;
}

.pb_20 {
    padding-bottom: 20px;
}

.pl_25 {
    padding-left: 25px;
}

.pt_25 {
    padding-top: 25px;
}

.pr_25 {
    padding-right: 25px;
}

.pb_25 {
    padding-bottom: 25px;
}

.ml_0 {
    margin-left: 0;
}

.mt_0 {
    margin-top: 0;
}

.mr0 {
    margin-right: 0;
}

.mb_0 {
    margin-bottom: 0;
}

.ml_5 {
    margin-left: 5px;
}

.mt_5 {
    margin-top: 5px;
}

.mr_5 {
    margin-right: 5px;
}

.mb_5 {
    margin-bottom: 5px;
}

.ml_10 {
    margin-left: 10px;
}

.mt_10 {
    margin-top: 10px;
}

.mr_10 {
    margin-right: 10px;
}

.mb_10 {
    margin-bottom: 10px;
}

.ml_15 {
    margin-left: 15px;
}

.mt_15 {
    margin-top: 15px;
}

.mr_15 {
    margin-right: 15px;
}

.mb_15 {
    margin-bottom: 15px;
}

.ml_20 {
    margin-left: 20px;
}

.mt_20 {
    margin-top: 20px;
}

.mr_20 {
    margin-right: 20px;
}

.mb_20 {
    margin-bottom: 20px;
}

.ml_25 {
    margin-left: 25px;
}

.mt_25 {
    margin-top: 25px;
}

.mr_25 {
    margin-right: 25px;
}

.mb_25 {
    margin-bottom: 25px;
}

.md_0 {
    margin: 0px;
    padding: 0px;
}

.mm {
    margin-left: auto;
    margin-right: auto;
}

/*居中*/

/* FontSize */
.fz_12 {
    font-size: 12px;
}

.fz_13 {
    font-size: 13px;
}

.fz_14 {
    font-size: 14px;
}

.fz_16 {
    font-size: 16px;
}

.fz_18 {
    font-size: 18px;
}

/*行高*/
.lh18 {
    line-height: 18px;
}

.lh20 {
    line-height: 20px;
}

.lh22 {
    line-height: 22px;
}

.lh24 {
    line-height: 24px;
}

.lh25 {
    line-height: 25px;
}

.lh26 {
    line-height: 26px;
}

.lh30 {
    line-height: 30px;
}

.lh40 {
    line-height: 40px;
}

/*字体大小*/
.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

.f24 {
    font-size: 24px;
}

.f26 {
    font-size: 26px;
}

.f28 {
    font-size: 28px;
}

.f30 {
    font-size: 30px;
}

.f36 {
    font-size: 36px;
}

/* FontStyle */
.fw_b {
    font-weight: bold !important;
}

/* 粗体 */
.fw_n {
    font-weight: normal !important;
}

/* 普通 */
.f_SimSun {
    font-family: SimSun
}

/*宋体*/
.ftms {
    font-family: "Microsoft YaHei"
}

/*微软雅黑*/
.tuL {
    text-decoration: underline
}

.ttL {
    text-decoration: line-through
}

/* TextAlign 对齐  */
.ta_l {
    text-align: left;
}

.ta_r {
    text-align: right;
}

.ta_c {
    text-align: center;
}

.ta_j {
    text-align: justify;
    text-justify: inter-ideograph;
}

/*两边对齐*/

/*position 定位属性*/
.p_relative {
    position: relative;
}

.p_static {
    position: static;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.nbg {
    background: none !important;
}

.nbgm {
    background-image: none !important;
}

/*边框聚焦颜色*/
.com-txt:focus {
    border: 1px solid #9de3ee;
    box-shadow: 0 0 2px #9de3ee;
}

/*宽度*/
.w75 {
    width: 75px;
}

.w82 {
    width: 82px;
}

.w98 {
    width: 98px;
}

.w163 {
    width: 163px;
}

.w184 {
    width: 184px;
}

.w200 {
    width: 200px;
}

.w210 {
    width: 210px;
}

.w230 {
    width: 230px;
}

.w250 {
    width: 250px;
}

.w260 {
    width: 260px;
}

.w270 {
    width: 270px;
}

.w340 {
    width: 340px;
}

.w368 {
    width: 368px;
}

.w386 {
    width: 386px;
}

.w388 {
    width: 388px;
}

.w435 {
    width: 435px;
}

.wfull {
    width: 100%;
}

.wa {
    width: 100% !important;
}

.noscrollx {
    overflow-x: hidden;
}

.tf {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*文字单行显示,超出宽度的以点点显示*/

.bg_grey {
    background: #f4f4f4;
}

/*主框架布局*/
body {
    min-width: 1000px;
}

/*-头部-*/
.topHead {
    height: 60px;
    min-width: 1000px;
    background: #3b73e7;
    position: relative;
    z-index: 8;
    box-shadow: 0 0 5px #333;
}

.userOpera {
    float: right;
    text-align: right;
    margin: 20px 10px 0 0;
    color: #c0d6ff;
}

.userOpera a {
    color: #c0d6ff;
    margin: 0 10px;
}

.userOpera a:hover {
    color: #fff;
    text-decoration: none
}

.logo {
    display: inline-block;
    height: 60px;
    vertical-align: middle;
    margin-right: 10px;
}

.i-logo {
    height: 60px;
    display: table;
    text-align: center;
    margin-left: 20px;
    *position: relative;
    *overflow: hidden;
}

.i-logo .i-logoImg {
    display: table-cell;
    vertical-align: middle;
    *position: absolute;
    *top: 50%;
}

.i-logoImg img {
    display: inline-block;
    vertical-align: middle;
    max-height: 50px;
    *position: relative;
    *top: -50%;
}

.logoTxt {
    color: #fff;
    margin-left: 10px;
    line-height: 24px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 100;
}

.logoTxt b {
    font-weight: normal;
    margin-right: 10px;
    font-weight: 100;
}

.logoTxt em {
    font-size: 16px;
    margin-left: 10px;
}

/*中间内容容器模块*/
.wrapper {
    position: relative;
    overflow: hidden
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 100px;
    height: 600px;
    background: #354052;
}

.sideMenu li {
    text-align: center;
}

.sideMenu li a {
    height: 70px;
    display: block;
    border-left: 3px solid #354052;
    padding-top: 20px;
    color: #fff;
}

.sideMenu li i {
    margin-left: -3px;
}

.sideMenu li span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    margin-left: -3px;
}

.sideMenu li.act a {
    font-weight: bold;
    color: #83a2db;
    border-left: 3px solid #83a2db;
    background: #252f40
}

.sideMenu li a:hover {
    text-decoration: none;
    color: #83a2db;
    border-left: 3px solid #252f40;
    background: #252f40
}

.rightContainer {
    margin-left: 100px;
    overflow: auto
}

.mainTopBar {
    height: 48px;
    border-bottom: 1px solid #e8e8e8;
}

/*组件,控件,插件*/
.inputAdd {
    font-size: 12px;
    width: 190px;
    padding: 0 10px;
    line-height: 26px;
    border-radius: 4px;
    border: solid #d6d6d6 1px; /* color:#999;*/
    height: 26px;
}

.inputAdd:focus {
    color: #333;
    border: 1px solid #9cbcfe;
}

.inputRemark {
    font-size: 12px;
    width: 190px;
    padding: 0 10px;
    line-height: 26px;
    border-radius: 4px;
    border: solid #d6d6d6 1px;
    color: #999;
    min-height: 50px;
}

/*下拉菜单*/
.fake_slt {
    position: relative;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    *display: inline;
    *zoom: 1;
}

.fake_slt_txt {
    background: #fff;
    cursor: pointer;
    display: inline-block;
    border: solid #b1b1b1;
    border-width: 1px 0 1px 1px;
    vertical-align: top;
    font-size: 12px;
    width: 160px;
    padding: 0 10px;
    line-height: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 4px 0 0px 4px;
}

.fake_slt_a {
    display: inline-block;
    width: 28px;
    height: 26px;
    text-align: center;
    border: solid #b1b1b1;
    border-width: 1px;
    border-radius: 0 4px 4px 0;
    background: #fff
}

.fake_slt_a:hover {
    background: #f4f4f4;
}

.fake_slt_a i {
    vertical-align: top;
    margin-top: 10px;
}

.open {
    z-index: 99;
}

.open .fake_slt_menu {
    display: block;
}

.fake_slt_menu {
    width: 160px;
    position: absolute;
    top: 97%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
}

.popList {
    border: 1px solid #d6d6d6;
    box-shadow: 0 2px 5px #d6d6d6;
    padding: 5px 0;
    background: #fff;
    border-radius: 4px;
}

.popList li {
    line-height: 25px;
    height: 25px;
    position: relative;
    width: 100%;
    padding-bottom: 0 !important;
}

.popList li a {
    color: #323232;
    display: block;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    color: #323232;
    font-size: 12px;
}

.popList li a:hover {
    text-decoration: none;
    background: #f4f4f4;
    color: #000;
    font-weight: bold;
}

.popList_child {
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
    background: #fff;
    border: 1px solid #b1b1b1;
    box-shadow: 0 2px 10px #bababa;
    padding: 5px 0;
    display: none;
}

/*按钮*/
.btn28 {
    height: 26px;
    line-height: 26px;
    padding: 0 15px;
    min-width: 40px;
    font-size: 12px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.btn28:hover {
    text-decoration: none;
}

.btn30 {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    min-width: 40px;
    font-size: 12px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.btn30:hover {
    text-decoration: none;
}

.btn_blue1 {
    background: #ebf2ff;
    border: 1px solid #9cbcfe;
    color: #3c73e7
}

.btn_blue1:hover {
    background: #dce7ff;
}

.btn_blue2 {
    background: #3b73e7;
    border: 1px solid #3b73e7;
    color: #fff
}

.btn_blue2:hover {
    background: #5285f0;
}

.btn_white1 {
    background: #fff;
    border: 1px solid #a7a7a7;
    color: #666666;
}

.btn_white1:hover {
    background: #fafafa;
}

.btn28.bg_blue {
    background: #3b73e7;
    color: #fff;
}

.btn28.bg_blue:hover {
    background: #3564c4;
}

.btn28.disabled,.btn28.disabled:hover{ background:#ccc; cursor:not-allowed}

.btn_green1 {
    background: #f4fdf2;
    border: 1px solid #9ddd8c;
    color: #37a31a;
}

.btn_green1:hover {
    background: #daefd5;
}

.btn_green2 {
    background: #44ba24;
    border: 1px solid #44ba24;
    color: #fff;
}

.btn_green2:hover {
    background: #3da520;
}

/*顶部下拉菜单*/
.areaChange .fake_slt_txt {
    border: solid #2a58b8;
    border-width: 1px 0 1px 1px;
    background: #2961d6;
    color: #b5ccfb;
}

.areaChange .fake_slt_a {
    border: solid #2a58b8 1px;
    background: #2961d6;
}

.areaChange.open .popList {
    box-shadow: 0px 1px 3px #d6d6d6;
}

.areaChange.open .fake_slt_a {
    background: #396ede;
}

/*内容容器 头部搜索*/
.searchBox {
    border: 1px solid #d9d9d9;
    width: 208px;
    border-radius: 3px;
    float: right;
    margin: 10px 20px 0 0;
    position: relative;
    padding-left: 20px;
}

.searchBox .i-search {
    position: absolute;
    left: 5px;
    top: 8px;
}

.seaInput {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 5px;
    height: 24px;
    border: 0;
    line-height: 24px;
    color: #999;
}

input[type="text"].seaInput:focus {
    color: #333
}

/*操作顶部*/
.operaBar {
    padding: 10px 20px;
    border-bottom: 1px solid #e8e8e8;
}

.footerCopyR {
    text-align: center;
    padding: 20px 0;
    line-height: 24px;
}

.footerCopyR a {
    margin: 0 6px;
    color: #666;
}

/*颜色*/
.col_pink {
    color: #ff8787;
}

.col_red {
    color: #ff0000;
}

.col_grey {
    color: #999;
}

.passwrodLevel {
    width: 110px;
    display: inline-block;
    vertical-align: middle;
}

.passwrodLevel i {
    display: inline-block;
    width: 27px;
    height: 4px;
    margin-right: 5px;
    vertical-align: middle;
}

.Plevel_1 i {
    background: #ffc3c3;
}

.Plevel_1 i.psl1 {
    background: #fe3838
}

.Plevel_1 em {
    color: #ffc3c3
}

.Plevel_2 i {
    background: #ff8929;
}

.Plevel_2 em {
    color: #ff8929
}

.Plevel_2 i.psl3 {
    background: #ffdbbe
}

.Plevel_3 i {
    background: #41ca5b;
}

.Plevel_3 em {
    color: #41ca5b
}

/*弹出框*/
.pop_cover {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    zoom: 1;
}

.popbox {
    width: 442px;
    background: #fff;
    _position: relative;
    *border: 1px solid #ddd;
}

.popbox-hd {
    position: relative;
    font-size: 12px;
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
    cursor: move;
    background: #f7f8fb;
    color: #666;
    border-bottom: 1px solid #e7e7e7;
}

.popbox-hd h2 {
    font-weight: normal;
}

.popbox-cls {
    position: absolute;
    top: 15px;
    right: 16px;
    overflow: hidden;
}

.popbox-cls:hover {
    text-decoration: none;
}

.popContainer {
    padding: 10px 0 0 0;
}

.popbox-ft {
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    padding-bottom: 15px;
}

.real-select {
    width: 200px;
}

label.error {
    padding-left: 5px;
    color: #ff8787
}

input.error {
    border: 1px solid #ff8787
}

#user-list .tableList tr:hover .btn_white1 {
    display: inline-block
}

.pswd-lv {
    display: none;
    height: 16px
}

.btn-search-more {
    margin-bottom: 10px;
    display: block;
    padding-top: 5px;
    margin-left: 15px;
}

.red{ color: red}

.manu{ padding:15px 3px 3px 3px; margin:3px; text-align:right }
.manu a{ border:1px solid #eee; padding:2px 6px; margin:2px; color:#036cb4; text-decoration:none }
.manu a:hover{ border:#999 1px solid; }
.manu a:active{ border:#999 1px solid; color:#666; }
.manu .current{ border:#036cb4 1px solid; padding:2px 6px; margin:2px; color:#fff; background-color:#036cb4 }
.manu .disabled{ border:#eee 1px solid; padding:2px 6px; margin:2px; color:#ddd; }
.manu a.disabled{ border:#eee 1px solid; padding:2px 6px; margin:2px; color:#ddd; cursor:default; }

.disableEvents{ pointer-events:none}