/* CSS Document */

/*内容容器 tab*/
.secMenu ul li { float: left; padding: 0 20px; font-size: 14px; }
.secMenu ul li a { height: 28px; padding: 10px 7px; color: #333333; line-height: 30px; display: block; }
.secMenu ul li a:hover { text-decoration: none; color: #3b73e7; }
.secMenu ul li a.act { color: #3b73e7; border-bottom: 2px solid #3b73e7; }


/*中间模块左侧菜单*/
.subSiderBar { width: 180px; position: absolute; left: 0px; top: 0px; border-right: 1px solid #e8e8e8; height: 600px; }
.subBar { position: relative; padding-left: 180px; }
.subSiderTop { text-align: center; padding: 10px; font-weight: normal; border-bottom: 1px solid #e8e8e8; }
.subSiderTop .btn28 { display: block; }
.subSiderTop .popList { text-align: left; }


/*多级树状列表*/
.subMenu h3 { padding: 10px 10px 5px 10px; color: #333; cursor: pointer }
.select-tx-ul li ul { display: none; }
.select-tx-ul li { white-space: nowrap; display: table; width: 100%; }
.select-tx-ul li > div { padding: 4px 0 4px 15px; }
.select-tx-ul li ul li > div { padding: 4px 0 4px 23px; }
.select-tx-ul li ul li ul li > div { padding: 4px 0 4px 41px; }
.select-tx-ul li ul li ul li ul li > div { padding: 4px 0 4px 49px; }
.select-tx-ul li ul li ul li ul li ul li > div { padding: 4px 0 4px 58px; }
.select-tx-ul li div:hover, .select-tx-ul div.on { background: #eee; }
.tree-folder { cursor: pointer; }
.tree-folder-on { background: #316dc9; color: #fff; padding: 2px 0; cursor: pointer; }
.select-tx li div.on { background: #eee; }
.select-tx-txt { border: 1px solid #d2d2d2; height: 22px; line-height: 22px; }


/*表格列表*/
.tableList { width: 100%; table-layout: fixed; }
.tableList th { background: url(../images/bg_table_th.png) no-repeat left top #f2f3f6; font-weight: normal; line-height: 19px; height: 19px; padding: 5px 0 5px 8px; text-align: left; }
.tableList td { padding: 6px 8px 6px 8px; line-height: 28px; border-bottom: 1px solid #f6f6f6; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap }
.tableList tr:hover td, .tableList tr.hover { background: #f7f8fb; }
.tableList tr.no-data:hover td { background: none; border-bottom: none; }
.tableList .tf { width: 90%; display: inline-block; vertical-align: middle; }
.tableList td .btn_white1 { display: none }
.tableList tr.hover td .btn_white1 { display: inline-block; }
.opera_back { padding: 18px 0 5px 30px; line-height: 18px; }
.detailCon { padding: 10px 30px; }
.detTit { color: #333; font-size: 12px; margin-bottom: 10px; }
.detailCon li { width: 100%; display: table; padding: 4px 0; color: #333; line-height: 28px; }
.detailCon li .subTitle { width: 120px; text-align: right; float: left; padding-right: 6px; }
.detailCon li .subCon {
    /*width: 500px; */
    float: left; }


/*企业账户开户*/
.NewsAccount { width: 1000px; margin: 20px auto; background: #fff; padding: 20px 42px 50px 24px; }
.NewsAccount h3 { font-size: 26px; color: #333333; font-weight: normal; line-height: 36px; }
.NewsAccount h4 { border-bottom: 1px solid #ededed; height: 12px; margin-bottom: 20px; margin-top: 20px; }
.NewsAccount h4 span { display: inline-block; background: #fff; padding-left: 20px; padding-right: 8px; font-size: 14px; height: 24px; line-height: 24px; font-weight: normal; }
.NewsAccount > ul { margin-left: 210px; }
.NewsAccount ul li { width: 100%; display: table; padding: 8px 0; color: #333; line-height: 28px; }
.NewsAccount ul li .lisp { width: 96px; float: left; text-align: right; padding: 5px 5px 5px 0px; }
.NewsAccount ul li .liRbox { width: 618px; float: left; margin-left: 10px; }
.NewsAccount .inputAdd { line-height: 36px; height: 36px; width: 300px; }
.NewsAccount .fake_slt_a { height: 36px; }
.NewsAccount .fake_slt_txt { line-height: 36px; }
.NewsAccount .popList li { padding: 0 }
.NewsAccount .fake_slt_a i { margin-top: 17px; }
.NewsAccount ul li .btn28 { width: 290px; line-height: 38px; height: 38px; font-size: 14px; }


/*弹出框 创建用户*/
.creatAccount { margin-top: 10px; }
.creatAccount ul li { width: 100%; display: table; padding: 5px 0; }
.creatAccount ul li .cAsub { width: 124px; text-align: right; display: inline-block; float: left; line-height: 18px; padding: 5px 15px 5px 0; }
.creatAccount ul li .cACon { width: 300px; float: left; }
.tipsTableBox { margin: 20px; }
.tipsTable { width: 100%; }
.tipsTable td { vertical-align: middle; padding: 5px; font-size: 14px; }
.tipsTxt { line-height: 30px; margin-left: 10px; display: inline-block; }
.importLead { margin: 10px 20px; }
.importbox { margin-bottom: 10px; }
.importbox h4 { font-size: 14px; font-weight: normal; }
.importbox h4 span { width: 32px; height: 32px; display: inline-block; background: #f1f4f9; line-height: 32px; text-align: center; font-size: 16px; font-family: georgia; color: #858b99; margin-right: 15px; font-weight: bold; margin-bottom: 8px; }
.importPart { margin-left: 15px; border-left: 1px dashed #dfdfdf; padding-left: 30px; }
.popUserSetL { width: 85px; float: left; padding: 10px 0; }
.popUserSetL li { line-height: 30px; padding-right: 2px; ; }
.popUserSetL li a { display: block; text-align: right; padding-right: 15px; color: #333; }
.popUserSetL li a:hover { text-decoration: none; color: #3b73e7; }
.popUserSetL li.act { border-right: 2px solid #3b73e7; padding-right: 0px; }
.popUserSetL li.act a { color: #3b73e7; }
.popUserSetR { width: 353px; border-left: 1px solid #eee; float: left; }
.popUserSetRCon { min-height: 142px; padding:15px 0; }
.popUserSetR li { width: 100%; display: table; padding: 3px 0; line-height: 28px; color: #333 }
.popUserSetR .pUSRlt { width: 92px; float: left; text-align: right; padding-right: 8px; }
.popUserSetR .pUSRrt { width: 250px; float: left; }


/*addGroupBox*/
.addGroupBox { padding: 10px 20px; }
.addGroupLt { width: 238px; float: left; }
.addGroupMd { width: 54px; float: left; text-align: center; }
.addGroupMd i { margin-top: 200px; }
.addGroupRt { width: 238px; float: left; }
.addGSearch { height: 25px; border: 1px solid #d6d6d6; border-radius: 3px; margin-top: 5px; }
.addGSearch input[type='text'] { border: 0; line-height: 19px; padding: 3px 5px; border-radius: 3px; width: 88%; color: #999999; }
.addGSearch input[type='text']:focus { color: #333; }
.addGList { border: 1px solid #d6d6d6; margin-top: 10px; border-radius: 3px; }
.addGListRs { height: 355px; overflow: auto; border: 1px solid #d6d6d6; margin-top: 6px; border-radius: 3px; padding: 5px 0; }
.addGListRs li { padding: 3px 17px 3px 14px; ; }
.addGListRs li span { display: inline-block; line-height: 22px; width: 85%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; vertical-align: middle }
.addGListRs li.hover, .addGListRs li:hover { background: #efefef; }
.addGListRs li .i-deletB { float: right; margin-top: 6px; }
.fline { color: #628fec; }
.statistics { margin: 20px 30px; zoom: 1; }
.staTop { margin-bottom: 10px; }
.staTop b { color: #333; margin-right: 15px; }
.staSpace { float: left; width: 44%; }
.spaceUse { width: 54%; float: right; }
.tabAbox { border-top: 1px solid #ddd; border-left: 1px solid #ddd; line-height: 28px; display: inline-block; vertical-align: middle; }
.tabAbox a { display: inline-block; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 0 15px; color: #999; }
.tabAbox a.act { color: #3b73e7; background: #ebf2ff; border: 1px solid #9cbcfe; margin-left: -1px; margin-top: -1px; }
.control-timeSet { display: inline-block; vertical-align: middle; margin-left: 41px; }
.timeSetInput { border: 1px solid #ddd; width: 98px; padding: 2px 8px; line-height: 24px; display: inline-block; vertical-align: middle }
.set_tab { margin-top: 10px; height: 35px; border-bottom: 1px solid #e8e8e8; }
.set_tab_c { position: relative; _top: 1px; float: left; height: 35px; line-height: 35px; margin-right: 10px; }
.set_tab_c a { display: block; color: #333333; text-align: center; background: #f4f4f4; padding: 0 30px; }
.set_tab_c a:hover { text-decoration: none; }
.set_tab .on { border: 1px solid #e8e8e8; border-width: 1px 1px 0 1px; background: #fff; font-weight: bold }
.set_tab .on a { background: #fff; }


/*pageBox*/
.pageBox { line-height: 20px; padding: 5px 20px; background: #f7f8fb; border-top: 1px solid #e8e8e8; color: #333333; }
.pageBox .fake_slt, .pageBox .fake_slt_txt, .pageBox .fake_slt_a { border-radius: 0; }
.pageBox .fake_slt_txt { line-height: 18px; }
.pageBox .fake_slt_a { width: 18px; height: 18px; }
.pageBox .fake_slt_a i { margin-top: 7px; }
.pageBox .pageInput { width: 25px; height: 18px; line-height: 18px; text-align: center; display: inline-block; }
.pageOpera { }
.pageOpera a { margin: 0 5px; }
.companyManageModule { display: none }
#company-list { margin-bottom: 10px }
#company-space,#company-space2,#company-space3, #company-space-edit,#company-space-edit2,#company-space-edit3 { width: 130px }
#user-list.list-top .tableList tr:hover .out { display: none }
#add-user-2 { cursor: pointer }
.NewsAccount .dk-select { line-height: 36px }
.NewsAccount .dk-select.real-select { width: 322px }
.NewsAccount .dk-select.unit-select { width: 102px }
.select-tx-ul-search li { padding: 3px 15px; margin-bottom: 5px; cursor: pointer }
.select-tx-ul-search li:hover { background: #efefef }
.search-result { padding: 5px 10px; }
.deptUser-list .node_name { font-weight: bold }
.deptUser-list .isUser .node_name { font-weight: normal }
/*.ztree.deptUser-list li.isUser,.ztree.deptUser-list li.isUser a{ line-height: 16px}*/

#user-list .row-admin:hover td a.btn_white1 { display: none }
#size, #count { height: 260px; width: 95% }
#count { float: right }
#op { height: 284px; }
#space1 { height: 306px }
#space2 { height: 264px }
.log-head { padding: 20px }
.log-top { margin-bottom: 10px }
.log-top label { margin-left: 10px }
.td-label { text-align: right }
.log-head .inputAdd { width: 178px }
.log-head .timeSetInput { width: 79px }


/*无数据提示*/
.tipsNoDate { height: 300px; clear: both; text-align: center; }
.tipsNoDate h4 { font-size: 18px; color: #6797fb; font-weight: normal; margin: 10px 0; }
.faildTableBox { overflow: auto; }
.faildTableBox tbody td { height: auto; padding: 8px 0; border-bottom: 1px solid #ededed; }
.faildTable thead td { padding: 8px 0; background: #f9f9f9; }
.tableBox { min-height: 200px; overflow: auto; }

/*2016-5-19*/
.setInfoTable{}
.setInfoTable th{ background:#f3f3f3; padding:15px 5px; font-weight:normal; color:#333;}
.setInfoTable td{ background:#fff; padding:15px 5px; font-weight:normal; table-layout:fixed; border-bottom:1px solid #f1f1f1;}
.setInfoTable td .tf{ width:90%; display:inline-block;vertical-align:middle; word-break:break-all;}

/*企业定制*/
.line_dash{ clear:both; zoom:1; content:" "; font-size:0px; line-height:0px; border-bottom:1px dashed #ddd;}
.EnCustom{ margin:30px; zoom:1; padding-bottom:50px;}
.EnCustomBox{ position:relative; padding-right:450px; min-height:200px;}
.EnCustomBoxTxt{ margin-left:25px; color:#333; font-size:14px;}
.EnCustomBoxLt{ }
.EnCustomBoxRt{ position:absolute; right:80px; top:15px;}

.setLogoUL{ margin-top:75px; float:left}
.setLogoUL li{ width:100%; display:table;}
.setLogoUL li .setLogoSp{ width:80px; margin-right:10px; float:left; display:inline-block; padding:3px 0;}
.setLogoUL li .setLogoULRp{ width:400px; float:left;}

.uploadbar{ display:inline-block; width:280px; height:26px; position:relative; border:1px solid #ddd; border-radius:4px;}
.uploadbar input[type="text"].inputAdd{ border:0; float:left;}
.uploadbar .uploadBtn{ display:inline-block; width:50px; text-align:center; color:#333; position:absolute; line-height:26px; right:0px; border-left:1px solid #ddd; height:26px; overflow:hidden}
.uploadbar a:hover{ text-decoration:none; color:#000}



/* add by Yangz */

#normalSetting .subTitle{ width: 220px}
#normalSetting .detailCon{ padding-top: 20px}

.teamCoopInfo{ padding-left: 20px}
.teamCoop-all{ color: red}
.teamCoop-used{ color: blue}
.space .tableBox{ min-height: 300px}

#ns-ul{ height: 420px}
.groupInfo{ padding-left: 20px; display: none}
#btn-import-user{ cursor:pointer}
.faildTableBox tbody td.noFail{height: 174px; padding:0; border:0; text-align:center}
.detailCon2 li .subCon{ width:220px}
.detailCon2 li{ padding:0; line-height:24px}
.detailCon2 .detTit{ margin-bottom:0}
.detailCon2 li .subTitle{  width:90px}
.userInfo{ margin-bottom:5px}

.webuploader-container {
    position: relative;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /*background: #00b7ee;*/
    /*padding: 10px 15px;*/
    /*color: #fff;*/
    text-align: center;
    /*border-radius: 3px;*/
    overflow: hidden;
}
.webuploader-pick-hover {
    /*background: #00a2d4;*/
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}
#messageSetting .setInfoTable thead{ cursor:pointer}
.setInfoTable{ margin-bottom:10px}
.setInfoBody{display:none}
